workflow/ArchRLogs/
results/logs/
workflow/510_FC_ATAC.arrow
workflow/611_FC_ATAC.arrow
workflow/993_FC_ATAC.arrow
workflow/510_GE_ATAC.arrow
workflow/611_GE_ATAC.arrow
workflow/993_GE_ATAC.arrow
workflow/tmp/
.DS_Store
resources/.DS_Store
results/.DS_Store
results/QC_testing/.DS_Store
results/archR_data_processing/rds_files/FC_PAX6_604_footprint_grob.rds
results/archR_data_processing/rds_files/FC_PAX6_604_footprint_plot.rds
results/archR_data_processing/rds_files/FC_SPI1_322_footprint_grob.rds
results/archR_data_processing/rds_files/FC_SPI1_322_footprint_plot.rds
results/archR_data_processing/rds_files/FC_motif_enrichment_heatmap_matrix.rds
results/archR_data_processing/rds_files/FC_motif_enrichment_heatmap_plot.rds
results/archR_data_processing/rds_files/FC_motifs.rds
results/archR_data_processing/rds_files/FC_motifs_mlogPs.rds
results/archR_data_processing/rds_files/GE_ASCL1_843_footprint_grob.rds
results/archR_data_processing/rds_files/GE_ASCL1_843_footprint_plot.rds
results/archR_data_processing/rds_files/GE_DLX5_412_footprint_grob.rds
results/archR_data_processing/rds_files/GE_DLX5_412_footprint_plot.rds
results/archR_data_processing/rds_files/GE_FOXP1_353_footprint_grob.rds
results/archR_data_processing/rds_files/GE_FOXP1_353_footprint_plot.rds
results/archR_data_processing/rds_files/GE_ISL1_398_footprint_grob.rds
results/archR_data_processing/rds_files/GE_ISL1_398_footprint_plot.rds
results/archR_data_processing/rds_files/GE_MEIS2_471_footprint_grob.rds
results/archR_data_processing/rds_files/GE_MEIS2_471_footprint_plot.rds
results/archR_data_processing/rds_files/GE_NFIX_738_footprint_grob.rds
results/archR_data_processing/rds_files/GE_NFIX_738_footprint_plot.rds
results/archR_data_processing/rds_files/GE_SIX3_480_footprint_grob.rds
results/archR_data_processing/rds_files/GE_SIX3_480_footprint_plot.rds
results/archR_data_processing/rds_files/GE_WT1_266_footprint_grob.rds
results/archR_data_processing/rds_files/GE_WT1_266_footprint_plot.rds
results/archR_data_processing/rds_files/GE_motif_enrichment_heatmap_matrix.rds
results/archR_data_processing/rds_files/GE_motif_enrichment_heatmap_plot.rds
results/archR_data_processing/rds_files/GE_motifs.rds
results/archR_data_processing/rds_files/GE_motifs_mlogPs.rds
results/archR_data_processing/rds_files/Rplots.pdf
results/archR_data_processing/rds_files/_FCcA_peaks_df.rds
results/archR_data_processing/rds_files/_FCcA_peaks_metadata.rds
results/homer/ext250bp_snps_plus_15bpext/homerMotifs.all.motifs
results/homer/ext250bp_snps_plus_15bpext/homerMotifs.motifs10
results/homer/ext250bp_snps_plus_15bpext/homerMotifs.motifs12
results/homer/ext250bp_snps_plus_15bpext/homerMotifs.motifs8
results/homer/ext250bp_snps_plus_15bpext/homerResults/
results/homer/ext250bp_snps_plus_15bpext/knownResults.html
results/homer/ext250bp_snps_plus_15bpext/knownResults.txt
results/homer/ext250bp_snps_plus_15bpext/knownResults/
results/homer/ext250bp_snps_plus_15bpext/motifFindingParameters.txt
results/homer/ext250bp_snps_plus_15bpext/seq.autonorm.tsv
results/homer/peaks_with_snp/homerMotifs.all.motifs
results/homer/peaks_with_snp/homerMotifs.motifs10
results/homer/peaks_with_snp/homerMotifs.motifs12
results/homer/peaks_with_snp/homerMotifs.motifs8
results/homer/peaks_with_snp/homerResults/
results/homer/peaks_with_snp/knownResults.html
results/homer/peaks_with_snp/knownResults.txt
results/homer/peaks_with_snp/knownResults/
results/homer/peaks_with_snp/motifFindingParameters.txt
results/homer/peaks_with_snp/seq.autonorm.tsv
results/archR_data_processing/cluster_ID/FC_FDR_0.05_Log2FC_0.585.xlsx
results/archR_data_processing/rds_files/FC_ASCL1_843_footprint_grob.rds
results/archR_data_processing/rds_files/FC_ASCL1_843_footprint_plot.rds
results/archR_data_processing/rds_files/FC_NEUROD2_73_footprint_grob.rds
results/archR_data_processing/rds_files/FC_NEUROD2_73_footprint_plot.rds
results/archR_data_processing/rds_files/FC_NEUROD4_820_footprint_grob.rds
results/archR_data_processing/rds_files/FC_NEUROD4_820_footprint_plot.rds
results/archR_data_processing/rds_files/FC_NEUROD6_821_footprint_grob.rds
results/archR_data_processing/rds_files/FC_NEUROD6_821_footprint_plot.rds
resources/R_objects/
resources/fq/
resources/garfield/
resources/gwas_sumstats/
resources/homer/
resources/ldsc/
resources/liftover/
resources/python_convert/
resources/refdata-cellranger-atac-GRCh38-1.2.0/
